/* Color Plaette
#232931 - darkslategray
#ffffff - White
#f73859 - tomato
#f1d18a - khaki
#ededed - whitesmoke
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  text-align: center;
  color:#ededed;
}
.mySlides{
  padding-top: 0px;
  width: 100%;  
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #232931;
  width: 100%;
  position: fixed;  
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color:#ededed;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;  
}

/* Change color on hover */
.navbar a:hover {
  background-color: whitesmoke;
  color: black;
}

/* Journey Container */
.journey{
  text-align: center;
  grid-auto-rows: auto;  
}
.gallery {
  border: 2px solid #ededed;
  padding: 5px;    
  width:300px;
}
.gallery:hover {
  border: 2px solid #f73859;
}
.gallery img {
  width: 100%;
  height: auto;
}
desc {
  padding: 15px;
  text-align: center;
}
.tiki{
  display: flex;
}
.responsive {
  float: left;
  width: 24.999%
}

.clearfix:after {
  content: "";
  display: grid;
  clear: both;
}

/* Menu */
.responsive{  
  display: grid;
  grid-template-columns: 310px 1fr;  
  padding-left: 60px;
}
.grid{	
	width: 400px;	
  padding: 20px;      
}
.grid h3 p{
  width: 400px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.article{
  padding-top: 30px;
  padding-left: 200px; 
  margin-bottom: 2px;
  width: inline;
}

.article h3{
  border-left:2px solid black;   
  margin:0;
  }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* Footer */
.footer {
  padding: 10px;
  text-align: right;
  background: #232931;
}
.footer a {
  color: #ededed;
  text-decoration: none;  
}
.footer a:hover {
  background-color: non;
  color: white;
}

/* Sticky socialbar*/
body {
  margin:10;
  height:100px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: #000;
}
.facebook {
  background: #3B5998;
  color: white;
}
.twitter {
  background: #55ACEE;
  color: white;
}
.google {
  background: #dd4b39;
  color: white;
}
.content {
  margin-left: 75px;
  font-size: 30px;
}

/* Responsive layout */
@media screen and (max-width: 501px) {
  .row {   
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    width:100%;
  }
}

